.hashimoto-main {
  font-family: sans-serif;
  color: gray;
  padding: 150px;
  line-height: 130px;
}

.hashimoto-button {
  float: right;
}

.hashimoto-delete{
  background-color: #cccbcb;
  color: #ffffff;
  width: 185px;
  height: 65px;
  font-size: 25px;
  border-radius:8px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  
}

.hashimoto-save{
  background-color: #8e82ff;
  color: #ffff;
  width: 185px;
  height: 65px;
  font-size: 25px;
  border-radius:8px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  

}

.hashimoto-page-name{
  font-size: 33px;

}

.hashimoto-edit-form{
  font-size: 20px;

}

.hashimoto-word-book{
  border: none;
  background-color: #f0f0f0;
  height: 48px;
  width: 80%;
  padding-left: 20px;

}

.hashimoto-share{
  transform: scale(2);
  margin-left: 35px;
}

.hashimoto-box{
  display: inline-block;
  width: 100%;
}
.hashimoto-main {
  font-family: sans-serif;
  color: gray;
  padding: 150px;
  line-height: 130px;
}

.hashimoto-button {
  float: right;
}

.hashimoto-delete{
  background-color: #cccbcb;
  color: #ffffff;
  width: 185px;
  height: 65px;
  font-size: 25px;
  border-radius:8px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  
}

.hashimoto-save{
  background-color: #8e82ff;
  color: #ffff;
  width: 185px;
  height: 65px;
  font-size: 25px;
  border-radius:8px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
}

.hashimoto-page-name{
  font-size: 33px;

}

.hashimoto-post-word{
  font-size: 20px;

}

.hashimoto-p {
  line-height: 80px;
}

.hashimoto-word{
  border: none;
  background-color: #f0f0f0;
  height: 48px;
  width: 80%;
  padding-left: 20px;

}

.hashimoto-meaning{
  border: none;
  background-color: #f0f0f0;
  height: 48px;
  width: 80%;
  padding-left: 20px;

}